body {
  text-align: center;
  background-color: #011f3f;
  overflow-x: hidden;
  margin: 0; /* Remove default margin */
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5% auto; /* Center the title */
  color: #fef2bf;
}

.container {
  display: block;
  max-width: 90%; /* Adjust the maximum width for responsiveness */
  margin: 0 auto; /* Center the container */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
}

span {
  color: white;
}

.btn {
  margin: 10px;
  display: inline-block;
  height: 100px; /* Reduce button size for mobile */
  width: 100px; /* Reduce button size for mobile */
  border: 5px solid black;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 30%,
    transparent 40%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-container {
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* Adjust the maximum width for responsiveness */
  width: 90%;
  height: 260px; /* Default height */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: block; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#score-container {
  text-align: center;
  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px; /* Reduce font size for mobile */
  color: white;
}

#score,
#highest-score {
  margin: 5px;
}

.game-over {
  background-color: red;
  transition: background-color 0.3s ease;
}

.start-button {
  display: none;
  font-size: 1.5rem;
  background-color: #fef2bf;
  color: #011f3f;
  padding: 10px 20px;
  border: 2px solid #011f3f;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .btn {
    height: 100px; /* Further reduce button size for smaller screens */
    width: 100px; /* Further reduce button size for smaller screens */
  }

  .btn-container {
    height: 270px;
    padding: 10px; /* Reduce padding for smaller screens */
  }

  #score-container {
    font-size: 14px; /* Further reduce font size for smaller screens */
  }

  .start-button {
    display: block;
    width: 50%;
  }
}

@media (max-width: 480px) {
  .btn-container {
    height: 150px; /* Adjust the height for even smaller screens */
  }
}
